h1 { 
  color : var(--purple);
  font-size : 2.3rem;
  margin-top: 50px;
}

select { 
  padding: 12px;
  display: block;
  width: 80%;
}

input  {
  width: 80%;
}


fa-icon{
  color: var(--green);
}

@media ( min-width: 480px ){
  input {
    width: 65%;
  }

  select {
    width: 65%;
  }
}

@media ( min-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-top:70px;
  }
  input { 
    width: 25%;
    max-width: 250px;
  }
  select { 
    width: 20%;
    max-width: 200px;
    margin-left: 20px;
  }
}

