:root {

  /* Colors */
  --purple : #4D375E;
  --secondary : #f763e9;
  --green : #4CB843;
  --green-hover : #227531;
  --gray-dark: #3f3e40;
  --red : #dc3545;

  /* Break Points */

  --bp-small : 480px;
  --bp-medium : 768px;
  --bp-large : 1024px;
  --bp-xlarge : 1440px;
 
}
